<div class="profile-card" *ngIf="user">
  <div class="profile-header">
    <mat-icon class="profile-avatar">person</mat-icon>
    <h2 class="username">{{ user.username }}</h2>
  </div>

  <div class="profile-info">
    <div class="info-item">
      <mat-icon>email</mat-icon>
      <span>{{ user.email }}</span>
    </div>
  </div>

  <div class="profile-actions">
    <button mat-raised-button color="primary" (click)="openUserUpdateDialog()">
      <mat-icon>manage_accounts</mat-icon>
      Update Information
    </button>
  </div>
</div>