<div class="book-details-container">

  <!-- Book Header -->
  <div class="book-header">
    <div class="book-info">
      <h1 class="book-title">{{ book?.title }}</h1>
      <p class="book-author">{{ book?.author }}</p>
      <div class="book-meta">
        <span>{{ book?.pages }} pages</span>
        <span>•</span>
        <span>{{ book?.country }}, {{ book?.publicationYear }}</span>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="book-plot">
    <h2 class="section-title">DESCRIPTION</h2>
    <p class="plot-text">
      {{ book?.description || 'No plot available' }}
    </p>
  </div>

  <!-- Editions / Versions -->
  <div class="book-versions">
    <h2 class="section-title">EDITIONS</h2>
    <button mat-raised-button class="upload-button" (click)="openVersionUploadDialog()">
      <mat-icon>upload_file</mat-icon> Upload edition
    </button>
    <div class="versions-list">
      <app-version-preview *ngFor="let version of versions" [version]="version"></app-version-preview>
    </div>
  </div>

</div>