.upload-form {
    padding: 20px;
    width: fit-content;
}

.upload-item {
    color: cadetblue !important;
    margin: 5px;
    width: fit-content;
}

.file-upload-group {
  display: flex;
  align-items: center;
  gap: 16px;

  mat-form-field {
    flex: 1;
  }
}

.update-button {
    background-color: black !important;
    color: white !important;
    font-weight: 400;
}

.update-button:hover {
    background-color: rgba(95, 158, 160, 0.9) !important;
    color: black !important;
    font-weight: 500;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  stroke: cadetblue !important;
}

::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline-thick {
  stroke: lightblue !important;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.delete-button {
  margin-left: 10px;
  background-color: darkred !important;
  color: white !important;
}

.delete-button:hover {
  background-color: red !important;
}