/* top-menu-bar.component.css */
.menu-bar {
    color: cadetblue;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 16px 0 8px;
    min-width: 120px;
}
  
.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    display: inline;
    margin-right: 20px;
}

.menu-bar a {
    /* text-decoration: none; */
    color: black;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: rgba(95, 158, 160, 0.6);
    
}

.spacer {
  flex: 1 1 auto;
}