<div class="menu-bar">
  <mat-toolbar>
    <nav>
      <ul>
        <li>
          <mat-icon class="menu-icon" style="font-size: 30px;">menu</mat-icon>
        </li>
        <li><a routerLink="/all-books">
          <button mat-raised-button class="menu-button">
            Home
            <mat-icon color="cadetblue">home</mat-icon>
          </button>
        </a></li>
        <li><a routerLink="/my-books">
          <button mat-raised-button class="menu-button">
            My books
            <mat-icon>my_library_books</mat-icon>
          </button>
        </a></li>
        <li><a routerLink="/account">
          <button mat-raised-button class="menu-button">
            Account
            <mat-icon>account_box</mat-icon>
          </button>
        </a></li>
        <span class="spacer"></span>
        <li><a (click)="logout()" routerLink="../login">
          <button mat-raised-button class="menu-button">
            Log out
            <mat-icon>logout</mat-icon>
          </button>
        </a></li>
      </ul>
    </nav>
  </mat-toolbar>
</div>
