.menu-bar {
    /* padding: 10px; */
    font-size: 14px;
    font-weight: bold;
    /* margin: 0 16px 0 8px; */
    min-width: 120px;
    background-color: black;
    color: cadetblue;
    display: flex;
}

.menu-bar mat-toolbar {
    background-color: black !important;
    color: white !important;
}
  
.menu-bar ul {
    margin: 0;
    padding: 0;
}

.menu-bar li {
    display: inline;
    margin-right: 20px;
    /* color: cadetblue; */
    background-color: black;
}

.menu-bar a {
    /* color: cadetblue; */
    font-size: 14px;
    /* font-weight: bold; */
}

button:hover {
    background-color: rgba(95, 158, 160, 0.9) !important;
    color: black !important;
    font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.menu-icon {
    margin-right: 30px;
}

.menu-button {
    background-color: black !important;
    color: white !important;
    font-weight: 400;
}

/* Remove default white background and padding */
.account-dialog .mat-dialog-container {
  background-color: #1e1e1e;  /* dark background */
  color: #f0f0f0;             /* text color */
  padding: 0;                  /* remove white padding */
  border-radius: 8px;          /* optional small rounding */
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  overflow: hidden;
}

/* Optional: style inside AccountComponent */
.account-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.update-button {
  background-color: black;
  color: white;
}

.update-button:hover {
  background-color: rgba(95, 158, 160, 0.9);
  color: black;
}